<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Secret Game</title>
    <link rel="stylesheet" href="play.css">
  </head>
  <body>
    <h1>Secret Number Game</h1>

    {{#if debugNumber}}
      <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Secret Game</title>
    <link rel="stylesheet" href="play.css">
  </head>
  <body>
    <h1>Secret Number Game</h1>

    {{#if debugNumber}}
      <!-- #{{debugNumber}}# -->
    {{/if}}

    {{#if lastInvalid}}
      <p class="invalid">Invalid guess</p>
    {{/if}}

    <h2>Guesses</h2>
    <ul>
      {{#each guesses}}
        <li class="{{className}}">{{guess}} — {{message}}</li>
      {{else}}
        <li>No guesses yet.</li>
      {{/each}}
    </ul>

    {{#if won}}
      <p class="won">You won</p>
      <p>{{guessCount}} guesses</p>

      <form method="POST" action="reset">
        <button autofocus type="submit">New game</button>
      </form>
    {{else}}
      <form method="POST" action="guess">
        <input autofocus name="guess" type="text" />
        <button type="submit">Guess</button>
      </form>
    {{/if}}
  </body>
</html>
    {{/if}}

    {{#if lastInvalid}}
      <p class="invalid">Invalid guess</p>
    {{/if}}

    <h2>Guesses</h2>
    <ul>
      {{#each guesses}}
        <li class="{{className}}">{{guess}} — {{message}}</li>
      {{else}}
        <li>No guesses yet.</li>
      {{/each}}
    </ul>

    {{#if won}}
      <p class="won">You won</p>
      <p>{{guessCount}} guesses</p>

      <form method="POST" action="reset">
        <button autofocus type="submit">New game</button>
      </form>
    {{else}}
      <form method="POST" action="guess">
        <input autofocus name="guess" type="text" />
        <button type="submit">Guess</button>
      </form>
    {{/if}}
  </body>
</html>